<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-16 pb-0">
      <div class="propic text-center">
        <img [src]="currentUser?.photo" alt="" />
      </div>
      <div class="profile-title text-center mb-16">
        <div class="main-title">
          {{ currentUser?.nom }}{{ currentUser?.prenom }}
        </div>
        <div class="subtitle mb-8">{{ currentUser?.userName }}</div>
        <div class="text-muted">
          {{ currentUser?.bio }}
        </div>
      </div>
    </mat-card>

    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item *ngIf="currentUser?.email">
            <mat-icon class="mr-16">email</mat-icon>
            {{ currentUser?.email }}
          </mat-list-item>
          <mat-list-item *ngIf="currentUser?.phone">
            <mat-icon class="mr-16">phone</mat-icon>
            {{ currentUser?.phone }}
          </mat-list-item>
          <mat-list-item *ngIf="currentUser?.userName">
            <mat-icon class="mr-16">perm_identity</mat-icon>
            {{ currentUser?.userName }}
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="mr-16">location_on</mat-icon>
            {{ currentUser.adresse || "Renseigner votre adresse ici" }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>
