<mat-toolbar class="topbar mat-bg-card">
  <!-- Sidenav toggle button -->
  <button
    *ngIf="layoutConf.sidebarStyle !== 'compact'"
    mat-icon-button
    id="sidenavToggle"
    (click)="toggleSidenav()"
    matTooltip="Toggle Hide/Open"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button [routerLink]="['/home']">
    <img
      src="assets/images/egret.png"
      style="height: 50px; width: 50px"
      alt=""
      class="app-logo"
    />
  </button>
  <button mat-button [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span>&nbsp; Acceuil</span>
  </button>

  <div *ngFor="let cat of categories$ | async">
    <div *ngIf="!cat?.subCategories?.length">
      <button mat-button (click)="selectCat(cat.id)">{{cat.libelles}}</button>
    </div>
    <div *ngIf="cat?.subCategories?.length">
      <button mat-button mat-button [matMenuTriggerFor]="aboveMenu">
        {{cat.libelles}}
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button
          mat-menu-item
          (click)="selectCat(sub.id)"
          *ngFor="let sub of cat?.subCategories"
        >
          {{sub.libelles}}
        </button>
      </mat-menu>
    </div>
  </div>

  <span fxFlex></span>

  <button mat-button [routerLink]="['/about']">
    <mat-icon>settings</mat-icon>
    <span>&nbsp;A propos</span>
  </button>
  <button mat-button [routerLink]="['/contact']">
    <mat-icon>contact_page</mat-icon>
    <span>&nbsp;Contact</span>
  </button>

  <button mat-button [routerLink]="['/docs']">
    <mat-icon>folder</mat-icon>
    <span>&nbsp;Documents</span>
  </button>

  <button mat-button [routerLink]="['/adherer']">
    <mat-icon>card_membership</mat-icon>
    <span>&nbsp;Adherer</span>
  </button>
  <button mat-button [routerLink]="['/membres']">
    <mat-icon>people</mat-icon>
    <span>&nbsp;Membres</span>
  </button>

  <!-- Language Switcher -->
  <button mat-button [matMenuTriggerFor]="menu">
    <span class="flag-icon {{currentLang.flag}} mr-8"></span>
    <span>{{currentLang.name}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of availableLangs"
      (click)="setLang(lang)"
    >
      <span class="flag-icon mr-8 {{lang.flag}}"></span>
      <span>{{lang.name}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
