<div class="m-333">
  <!-- <span fxFlex></span> -->

  <button
    [routerLink]="['/dashboard/articles/add']"
    routerLinkActive="router-link-active"
    mat-raised-button
    color="primary"
  >
    {{ "ADD ARTICLE" | translate }}
  </button>
</div>
<mat-card
  class="p-0"
  [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }"
>
  <mat-card-content class="p-0">
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="(articles$ | async)?.data"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
      [limit]="5"
      [rowHeight]="50"
      (page)="paginationCallBack($event)"
    >
      <ngx-datatable-column name="Title" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.title }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Author" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.auteur?.nom }} {{ row?.auteur?.prenom }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Commentaires" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.commentaires?.length ? row?.commentaires?.length : 0 }} &nbsp;
          <mat-icon>comments</mat-icon>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date de publication" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.datePublication | date: "dd/MM/yyyy" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date de modification" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.dateModification | date: "dd/MM/yyyy" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date d'archivage" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.dateArchivage | date: "dd/MM/yyyy" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Archivé" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-slide-toggle
            class="example-margin"
            [checked]="row.isArchived"
            [disabled]="row.isArchived"
            (toggleChange)="archiverArticle(row)"
          >
            {{ row.isArchived ? "Archivé" : "Non archivé" }}
          </mat-slide-toggle>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="A la une?" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-slide-toggle
            class="example-margin"
            [checked]="row.isAlaUne"
            (toggleChange)="mettreAlaUne(row)"
          >
            {{ row.isAlaUne ? "A la une" : "Non à la une" }}
          </mat-slide-toggle>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            mat-icon-button
            mat-sm-button
            color="primary"
            class="mr-16"
            (click)="detail(row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            mat-sm-button
            color="warn"
            (click)="deleteItem(row)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
