<div class="">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
      <mat-card class="p-24">
        <div fxLayout="row wrap">
          Liste des articles ....
        </div>
        <div fxLayout="row wrap">

          <div fxFlex="100" [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '400ms' } }">
            <mat-card class="p-0 dark-blue">
              <mat-table [dataSource]="articles$ | async" matSort>
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Titre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="progress">
                    {{ row.title }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="author">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Auteur
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="progress">
                    Auteur TODO
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isArchived">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Archivé
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="name">
                    <!--<mat-checkbox [value]="">Archivé</mat-checkbox>-->
                    <mat-checkbox [value]="row.isArchived"> &nbsp; Test</mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="datePublication">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date de publication
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="color">
                    {{ row.datePublication | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateModification">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date de modification
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="color">
                    {{ row.dateModification | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateArchivage">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Date d'archivage
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="color">
                    {{ row.dateArchivage | date: 'dd/MM/yyyy' }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="commentaires">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nombre de commentaires
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="color">
                    {{ row?.commentaires?.length }} &nbsp; <mat-icon>comments</mat-icon>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="[
                  'title',
                  'author',
                  'commentaires',
                  'isArchived',
                  'datePublication',
                  'dateModification',
                  'dateArchivage',
                  
                ]"></mat-header-row>
                <mat-row *matRowDef="
                  let row;
                  columns: [
                    'title',
                    'author',
                    'commentaires',
                    'isArchived',
                    'datePublication',
                    'dateModification',
                    'dateArchivage'
                  ]
                ">
                </mat-row>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-table>
            </mat-card>
          </div>
          <div fxFlex="100">
            <button [routerLink]="['/dashboard/articles/add']" routerLinkActive="router-link-active" mat-raised-button
              color="primary">
              Ajouter un Article
            </button>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</div>