<div class="">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
      <mat-card class="p-24">
        <div fxLayout="row wrap">
          <div fxFlex="100">
            <mat-horizontal-stepper [linear]="true">
              <mat-step [stepControl]="addEditCategoryFormGroup">
                <form [formGroup]="addEditCategoryFormGroup">
                  <ng-template matStepLabel
                    >Saisie des informations la category</ng-template
                  >
                  <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
                      <div class="pb-16 mb-16">
                        <mat-form-field class="full-width">
                          <input
                            matInput
                            placeholder="Un super titre de category"
                            formControlName="title"
                            required
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
                      <div class="pb-16 mb-16">
                        <mat-form-field class="full-width">
                          <input
                            matInput
                            placeholder="Un bon libelles"
                            formControlName="libelles"
                            required
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="100">
                      <mat-card class="p-0">
                        <mat-card-content class="p-0">
                          <quill-editor
                            name="description"
                            [(ngModel)]="editorContentData"
                            formControlName="description"
                            ngDefaultControl
                            theme="snow"
                            (onContentChanged)="onContentChanged()"
                            onSelectionChanged="onSelectionChanged()"
                          ></quill-editor>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>

                  <div fxLayout="row">
                    <button mat-raised-button color="accent" matStepperPrevious>
                      {{ "BACK" | translate }}
                    </button>
                    <span fxFlex="8px"></span>
                    <button mat-raised-button color="primary" matStepperNext>
                      {{ "NEXT" | translate }}
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Recapitulatif</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-xs="100" class="pr-16">
                    <mat-card>
                      <mat-card-title>{{
                        addEditCategoryFormGroup.value?.title
                      }}</mat-card-title>
                      <p>{{ addEditCategoryFormGroup.value?.libelles }}</p>
                      <p
                        [innerHtml]="
                          addEditCategoryFormGroup.value?.description
                        "
                      ></p>
                    </mat-card>
                  </div>
                </div>
                <div fxLayout="row">
                  <button mat-raised-button color="accent" matStepperPrevious>
                    {{ "BACK" | translate }}
                  </button>
                  <span fxFlex="8px"></span>
                  <button mat-raised-button color="primary" (click)="submit()">
                    {{ "SUBMIT" | translate }}
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
