<div class="">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
      <mat-card class="p-24">
        <div fxLayout="row wrap">
          <div fxFlex="100">
            <mat-horizontal-stepper [linear]="true">
              <mat-step [stepControl]="addMemberFormGroup">
                <form [formGroup]="addMemberFormGroup">
                  <ng-template matStepLabel
                    >Saisie des informations du nouveau membre</ng-template
                  >

                  <div fxFlex="59">
                    <mat-form-field class="pt-16 pb-16">
                      <input
                        matInput
                        placeholder="Nom du membre"
                        formControlName="nom"
                        required
                      />
                    </mat-form-field>
                    <br />
                    <mat-form-field class="pt-16 pb-16">
                      <input
                        matInput
                        placeholder="Prenom du membre"
                        formControlName="prenom"
                        required
                      />
                    </mat-form-field>
                    <br />
                    <mat-form-field class="pt-16 pb-16">
                      <input
                        matInput
                        placeholder="Photo du membre"
                        formControlName="photo"
                        required
                      />
                    </mat-form-field>
                    <br />
                  </div>
                  <div fxFlex="50">
                    <mat-form-field class="pt-16 pb-16">
                      <input
                        matInput
                        placeholder="Fonction du membre"
                        formControlName="fonction"
                        required
                      />
                    </mat-form-field>
                    <br />
                    <mat-form-field class="pt-16 pb-16">
                      <input
                        matInput
                        placeholder="Metier du membre"
                        formControlName="metier"
                        required
                      />
                    </mat-form-field>
                    <br />
                    <mat-checkbox formControlName="isPresident"
                      >Président</mat-checkbox
                    >
                  </div>

                  <div fxFlex="100">
                    <div fxLayout="row">
                      <span fxFlex="8px"></span>
                      <button mat-raised-button color="primary" matStepperNext>
                        {{ "SUIVANT" | translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Recapitulatif</ng-template>

                <div class="pb-16 mb-16">
                  <label>Nom et prénom : </label>
                  {{ addMemberFormGroup.value?.nom }}
                  {{ addMemberFormGroup.value?.prenom }}
                </div>

                <div class="pb-16 mb-16">
                  <label>Fonction: </label>
                  {{ addMemberFormGroup.value?.fonction }}
                </div>

                <div class="pb-16 mb-16">
                  <label>Metier: </label> {{ addMemberFormGroup.value?.metier }}
                </div>

                <div fxLayout="row">
                  <button mat-raised-button color="accent" matStepperPrevious>
                    {{ "BACK" | translate }}
                  </button>
                  <span fxFlex="8px"></span>
                  <button mat-raised-button color="primary" (click)="submit()">
                    {{ "SUBMIT" | translate }}
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
