<div class="">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
      <mat-card class="p-24">
        <div fxLayout="row wrap">
          <div fxFlex="100">
            <mat-horizontal-stepper [linear]="true">
              <mat-step [stepControl]="addEditPostFormGroup">
                <form [formGroup]="addEditPostFormGroup">
                  <ng-template matStepLabel
                    >Saisie des details de l'article</ng-template
                  >
                  <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
                      <div class="pb-16 mb-16">
                        <mat-form-field class="full-width">
                          <input
                            matInput
                            placeholder="Un super titre d'article"
                            formControlName="title"
                            required
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
                      <div class="pb-16 mb-16">
                        <mat-form-field class="full-width">
                          <mat-label>Categories</mat-label>
                          <mat-select
                            [formControl]="categoryFormControl"
                            selected
                            multiple
                          >
                            <mat-select-trigger>
                              {{
                                categoryFormControl?.value
                                  ? categoryFormControl?.value[0]
                                  : ""
                              }}
                              <span
                                *ngIf="categoryFormControl?.value?.length > 1"
                                class="example-additional-selection"
                              >
                                (+{{ categoryFormControl?.value?.length - 1 }}
                                {{
                                  categoryFormControl?.value?.length === 2
                                    ? "other"
                                    : "others"
                                }})
                              </span>
                            </mat-select-trigger>
                            <mat-optgroup
                              *ngFor="let cat of getCat(categories$ | async)"
                              [label]="cat"
                            >
                              <mat-option [value]="cat">
                                {{ cat }}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="100">
                      <div class="pb-16 mb-16">
                        <mat-card class="p-0">
                          <mat-card-content class="p-0">
                            <quill-editor
                              name="content"
                              formControlName="content"
                              ngDefaultControl
                              theme="snow"
                              (onContentChanged)="onContentChanged()"
                              onSelectionChanged="onSelectionChanged()"
                            >
                            </quill-editor>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>

                  <div>
                    <button mat-raised-button color="primary" matStepperNext>
                      {{ "NEXT" | translate }}
                    </button>
                  </div>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Recapitulatif</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-xs="100" class="pr-16">
                    <mat-card>
                      <mat-card-title>{{
                        addEditPostFormGroup.value?.title
                      }}</mat-card-title>
                      <mat-card-header>
                        <div
                          mat-card-avatar
                          [ngStyle]="{
                            'background-image': currentUser?.photo,
                            'background-size': 'cover'
                          }"
                        >
                          <img mat-card-avatar [src]="currentUser?.photo" />
                        </div>
                        <mat-card-title></mat-card-title>
                        <mat-card-subtitle>
                          Ecrit par
                          {{ currentUser?.nom }}
                          {{ currentUser?.prenom }}<br />
                          Publié le
                          {{
                            addEditPostFormGroup.value?.datePublication ||
                              nouvelleDate | date: "EEEE d MMMM y"
                          }}
                          <br />
                          Dans les categories
                          {{ addEditPostFormGroup.value?.categories }}
                        </mat-card-subtitle>
                      </mat-card-header>
                      <p [innerHtml]="addEditPostFormGroup.value?.content"></p>
                    </mat-card>
                  </div>
                </div>
                <div fxLayout="row">
                  <button mat-raised-button color="accent" matStepperPrevious>
                    {{ "BACK" | translate }}
                  </button>
                  <span fxFlex="8px"></span>
                  <button mat-raised-button color="primary" (click)="submit()">
                    {{ "PUBLISH" | translate }}
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
