<div class="">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="75" fxFlex.md="75">
      <div
        fxLayout="row wrap"
        *ngIf="
          (articles$ | async)?.data &&
            (articles$ | async)?.data?.length > 0 &&
            (articles$ | async)?.data as articles;
          then thenBlock;
          else notFoundBlock
        "
      >
        <div
          fxFlex="33"
          style="cursor: pointer"
          *ngFor="let article of (articles$ | async)?.data; let i = index"
        >
          <mat-card (click)="showArticle(article)">
            <mat-card-title>{{ article.title }}</mat-card-title>
            <p [innerHtml]="article.content | slice: 0:250"></p>
          </mat-card>
        </div>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25">
      <mat-card>
        <div class="mat-heading-label">Articles archivés</div>
        <div
          class="d-flex mb-16"
          style="cursor: pointer"
          *ngFor="let r of (archivedArticle$ | async)?.data"
          (click)="showArticle(r)"
        >
          <div
            class="w-40 h-40 mr-16 rounded-circle mat-bg-chip d-flex align-items-center justify-content-center"
          >
            <mat-icon>{{ r.icon }}</mat-icon>
          </div>
          <div class="d-flex flex-column justify-content-center flex-grow-1">
            <h6 class="mb-4">{{ r.title }}</h6>
            <small class="text-muted">{{
              r.datePublication | date: "dd/MM/yyyy"
            }}</small>
          </div>
          <button mat-icon-button>
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
        </div>
        <div class="my-24"></div>
        <div class="mat-heading-label">Upcoming Challenges</div>
        <div
          class="d-flex mb-16"
          style="cursor: pointer"
          *ngFor="let r of (archivedArticle$ | async)?.data"
          [class]="r.id"
          (click)="showArticle(r)"
        >
          <div
            class="w-40 h-40 mr-16 rounded-circle mat-bg-chip d-flex align-items-center justify-content-center"
          >
            <mat-icon>{{ r.icon }}</mat-icon>
          </div>
          <div class="d-flex flex-column justify-content-center flex-grow-1">
            <h6 class="mb-4">{{ r.title }}</h6>
            <small class="text-muted">{{
              r.datePublication | date: "dd/MM/yyyy"
            }}</small>
          </div>
          <button mat-icon-button>
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #thenBlock>
  <div
    fxFlex="33"
    style="cursor: pointer"
    *ngFor="let article of (articles$ | async)?.data; let i = index"
  >
    <mat-card (click)="showArticle(article)">
      <mat-card-title>{{ article.title }}</mat-card-title>
      <p [innerHtml]="article.content | slice: 0:250"></p>
    </mat-card>
  </div>
</ng-template>
<ng-template #notFoundBlock>
  <mat-card>
    <div class="app-error">
      <div class="fix">
        <div class="error-text">
          <div class="error-subtitle">Pas d'article pour cette categorie</div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
